@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500;700&family=Lato:wght@400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;

}

body {
    font-size: 100%;
    margin: 0 auto;
    height: 100vh;
}



.cabecalho-img {
    height: 19px;
}

.cabecalho-titulo {
    font-family: 'Cabin', sans-serif;
    font-weight: 500;
    font-size: 25px;
    margin-left: 7px;

}

.cabecalho-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}






.conteudo-principal-promocao {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.conteudo-principal-promocao-total {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;

}

.conteudo-principal-descricao {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 22px;
    margin-top: 23px;

}

.conteudo-principal-valor {
    display: flex;
    margin-top: 23px;
    align-items: center;
}

.conteudo-principal-valor-cifrao {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 15px;
}

.conteudo-principal-valor-preco {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #5CA720;
}


@media screen and (min-width: 1024px) {
    .conteudo-banner-img {
        width: 100%;
        height: 505px
    }

    .conteudo-banner {
        display: block;
        height: 600px;
        border-bottom: 0.2px solid #A5A1A1;
        margin-bottom: 7px;

    }

    .cabecalho {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 24px;
    }

    .conteudo-principal-promocao-item {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 30px;


    }

    .conteudo-principal-descricao {
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        font-size: 22px;
        margin-top: 23px;

    }

    .conteudo-principal-valor {
        display: flex;
        margin-top: 23px;
        align-items: center;
    }

    .conteudo-principal-valor-cifrao {
        font-family: 'Lato', sans-serif;
        font-weight: 600;
        font-size: 15px;
    }

    .conteudo-principal-valor-preco {
        font-family: 'Lato', sans-serif;
        font-weight: 600;
        font-size: 20px;
        color: #5CA720;
    }

    .conteudo-principal-itens-produtos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 auto;
        justify-content: space-between;
        max-width: 1300px;


    }

    .conteudo-principal-img {
        height: 325px;
        width: 325px;
        max-width: 100%;
        display: block;

    }

    .conteudo-principal-produto {
        max-width: 350px;
        margin-bottom: 30px;
        padding: 30px;
    }

    .conteudo-principal-img {
        height: 326px;
        width: 326px;
        max-width: 100%;
        display: block;
        border-radius: 5px;


    }

    .rodape-principal {
        display: flex;
        justify-content: space-around;
        padding: 35px;
        flex-wrap: wrap;
        gap: 12px;

    }

    .rodape-form-input {
        height: 54px;
        width: 397px;
        background: #FFFFFF;
        border: 0.5px solid #D9D9D9;
        box-sizing: border-box;
        padding: 12px 16px 14px;
        border-radius: 5px 0px 0px 5px;
    }

    .rodape-form-button {
        background: #5CA720;
        border-radius: 0px 5px 5px 0px;
        height: 54px;
        width: 152px;
        border: none;
        color: white;
        font-family: 'Lato', sans-serif;
        font-weight: 600;
        font-size: 14px;
    }


    .rodape-temos-item {
        font-family: 'Lato', sans-serif;
        font-weight: 600;
        font-size: 22px;
    }

    .rodape-temos {
        display: flex;
        flex-direction: column;
        gap: 12px;
        font-size: 22px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1023px) {

    .cabecalho {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 24px;
    }

    .conteudo-principal-promocao-item {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 30px;


    }

    .conteudo-principal-descricao {
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        font-size: 22px;
        margin-top: 23px;

    }

    .conteudo-principal-valor {
        display: flex;
        margin-top: 23px;
        align-items: center;
    }

    .conteudo-principal-valor-cifrao {
        font-family: 'Lato', sans-serif;
        font-weight: 600;
        font-size: 15px;
    }

    .conteudo-principal-valor-preco {
        font-family: 'Lato', sans-serif;
        font-weight: 600;
        font-size: 20px;
        color: #5CA720;
    }

    .conteudo-principal-itens-produtos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 10px 25px;
        justify-content: space-between;
        max-width: 1300px;


    }

    .conteudo-principal-img {
        height: 255px;
        width: 255px;
        max-width: 100%;
        display: block;

    }

    .conteudo-principal-produto {
        max-width: 350px;
        margin-bottom: 30px;
        padding: 30px;
    }

    .conteudo-principal-img {
        height: 326px;
        width: 326px;
        max-width: 100%;
        display: block;
        border-radius: 5px;


    }

    .rodape-principal {
        display: flex;
        justify-content: flex-start;
        padding: 35px;
        flex-wrap: wrap;
        gap: 12px;

    }

    .rodape-form-input {
        height: 54px;
        width: 397px;
        background: #FFFFFF;
        border: 0.5px solid #D9D9D9;
        box-sizing: border-box;
        padding: 12px 16px 14px;
        border-radius: 5px 0px 0px 5px;
    }

    .rodape-form-button {
        background: #5CA720;
        border-radius: 0px 5px 5px 0px;
        height: 54px;
        width: 397px;
        border: none;
        color: white;
        font-family: 'Lato', sans-serif;
        font-weight: 600;
        font-size: 14px;
    }

    .conteudo-banner-img {
        width: 100%;
        height: 221.09px;
    }

    .conteudo-banner {
        display: block;

        border-bottom: 0.2px solid #A5A1A1;
        margin-bottom: 7px;

    }

    .rodape-form {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-top: 40px;

    }

    .rodape-temos-item {
        font-family: 'Lato', sans-serif;
        font-weight: 600;
        font-size: 18px;

    }

    .rodape-temos {
        display: flex;
        flex-direction: column;
        gap: 12px;
        font-size: 18px;
    }
}

@media screen and (max-width: 767px) {
    .conteudo-banner-img {
        width: 100%;
        height: 221.09px;
    }

    .conteudo-banner {
        display: block;

        border-bottom: 0.2px solid #A5A1A1;
        margin-bottom: 7px;

    }

    .cabecalho {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 24px;
    }

    .conteudo-principal-promocao-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 30px;


    }

    .conteudo-principal-promocao {
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        font-size: 14px;
    }

    .conteudo-principal-promocao-total {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 14px;

    }

    .conteudo-principal-descricao {
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        font-size: 12px;
        margin-top: 23px;

    }

    .conteudo-principal-valor {
        display: flex;
        margin-top: 12px;
        align-items: center;
    }

    .conteudo-principal-valor-cifrao {
        font-family: 'Lato', sans-serif;
        font-weight: 600;
        font-size: 15px;
    }

    .conteudo-principal-valor-preco {
        font-family: 'Lato', sans-serif;
        font-weight: 600;
        font-size: 12px;
        color: #5CA720;
    }

    .conteudo-principal-itens-produtos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0 auto;
        padding: 10px 25px;
        justify-content: space-between;
        max-width: 1300px;


    }

    .conteudo-principal-img {
        height: 325px;
        width: 325px;
        max-width: 100%;
        display: block;

    }

    .conteudo-principal-produto {
        max-width: 350px;
        margin-bottom: 30px;

    }

    .conteudo-principal-img {
        height: 125px;
        width: 125px;
        max-width: 100%;
        display: block;
        border-radius: 5px;


    }

    .rodape-principal {
        display: flex;
        justify-content: flex-start;
        padding: 35px;
        flex-wrap: wrap;
        gap: 12px;

    }

    .rodape-principal {
        display: flex;
        justify-content: flex-start;
        padding: 35px;
        flex-wrap: wrap;
        gap: 12px;

    }

    .rodape-form-input {
        height: 54px;
        width: 350px;
        background: #FFFFFF;
        border: 0.5px solid #D9D9D9;
        box-sizing: border-box;
        padding: 12px 16px 14px;
        border-radius: 5px;
    }

    .rodape-form-button {
        background: #5CA720;
        border-radius: 5px;
        height: 54px;
        width: 350px;
        border: none;
        color: white;
        font-family: 'Lato', sans-serif;
        font-weight: 600;
        font-size: 14px;
        margin-top: 12px;
    }

    .rodape-form {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-top: 40px;

    }

    .rodape-temos-item {
        font-family: 'Lato', sans-serif;
        font-weight: 600;
        font-size: 15px;

    }

    .rodape-temos {
        display: flex;
        flex-direction: column;
        gap: 12px;
        font-size: 15px;
    }
}

.rodape {

    background-color: #F9F9F9;
    height: 348px;
}

.rodape-conteudo {
    max-width: 1880px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;

}








.rodape-form-item {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 20px;
}


.rodape-redesocial {
    border-top: 0.5px solid #D9D9D9;
    padding: 40px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.rodape-item {

    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 3px;
    align-items: center;
    width: 43px;
    height: 43px;
}

.rodape-item2 {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 3px;
    width: 50px;
    height: 50px;
}

.rodape-img {
    display: flex;
    width: 45px;
    height: 45px;
    padding: 7px;
    align-items: center;
}